<div class="programs-container">
  <!-- Hero Section -->
  <app-hero-base [title]="'Our Programs'">
  </app-hero-base>

  <!-- Programs Overview -->
  <section class="programs-overview">
    <div class="text-center">
      <p class="section-subtitle">
        Our school year is September through May. Before-care, after-care and 5-day care options are available to enrolled
        children. Inquire directly with specific scheduling needs and tuition information.
      </p>
    </div>
    @for (program of programs; track program.title) {
    <div class="program-section">
      <div class="container">
          <div class="program-grid" [class.reverse]="program.reverse">
            <div class="program-content">
              <h3 class="program-title">{{ program.title }}</h3>
              <h4 class="program-subtitle">{{ program.subtitle }}</h4>
              <div class="program-underline"></div>
              @if (program.times != undefined)
              {
                <p class="program-time">
                  <span class="program-bold">
                    <strong>Time: </strong> 
                  </span>
                  <span [innerHTML]="program.times"></span>
                  </p>
              }
              <p class="program-description">
                <span class="progr">
                  <strong>Description: </strong>
                </span>
                {{ program.description }}
              </p>
            </div>
            <div class="program-image">
              <img
                src="{{ program.image }}"
                alt="{{ program.title }}" class="program-img" />
            </div>
          </div>
      </div>
    </div>
  }
  </section>

  <!-- Call to Action -->
  <section class="enrollment-cta">
    <div class="container">
      <div class="cta-content">
        <h2 class="cta-title">Ready to Join Our Preschool Family?</h2>
        <p class="cta-subtitle">
          Come see the magic for yourself! We'd love to meet you and your little one.
        </p>
        <div class="cta-button-content">
          <a href="/assets/docs/Woodhome-Preschool-Registration-Form.pdf" class="cta-button" target="_blank">
            Enroll Now!
          </a>
        </div>
      </div>
    </div>
  </section>
</div>