<footer class="footer">
  <div class="container">
    <div class="footer-grid">
      <div class="footer-section">
        <h3 class="section-title">Woodhome Preschool Center</h3>
        <p class="description">
          Play.    Learn. Grow.
        </p>
        <div class="social-links">
          <a href="https://www.facebook.com/woodhomepreschoolcenter" target="href" class="social-link">
            <span class="sr-only">Facebook</span>
            <svg class="social-icon" fill="currentColor" viewBox="0 0 24 24" aria-hidden="true">
              <path fillRule="evenodd"
                d="M22 12c0-5.523-4.477-10-10-10S2 6.477 2 12c0 4.991 3.657 9.128 8.438 9.878v-6.987h-2.54V12h2.54V9.797c0-2.506 1.492-3.89 3.777-3.89 1.094 0 2.238.195 2.238.195v2.46h-1.26c-1.243 0-1.63.771-1.63 1.562V12h2.773l-.443 2.89h-2.33v6.988C18.343 21.128 22 16.991 22 12z"
                clipRule="evenodd" />
            </svg>          </a>
        </div>
      </div>

      <div class="footer-section">
        <h3 class="section-subtitle">Quick Links</h3>
        <ul class="link-list">
          <li><a routerLink="/" class="footer-link">Home</a></li>
          <li><a routerLink="/about" class="footer-link">About Us</a></li>
          <li><a routerLink="/programs" class="footer-link">Our Programs</a></li>
          <li><a routerLink="/contact" class="footer-link">Contact Us</a></li>
          <li><a href="https://docs.google.com/forms/d/1XZlHI-Wj8GS3z8YVVoooeUjJksNNH8eVkV0WOF39a00/edit"
              target="_blank" class="footer-link">Enrollment</a></li>
        </ul>
      </div>

      <div class="footer-section">
        <h3 class="section-subtitle">Hours</h3>
        <div class="hours-info">
          <lucide-icon name="clock" class="icon"></lucide-icon>
          <div class="hours-text">
            <p class="day-text">Monday - Friday</p>
            <p class="time-text">7:30 AM - 5:30 PM</p>
          </div>
        </div>
      </div>

      <div class="footer-section">
        <h3 class="section-subtitle">Contact Us</h3>
        <div class="contact-info">
          <div class="contact-item">
            <lucide-icon name="house" class="icon"></lucide-icon>
            <a href="https://maps.app.goo.gl/g8w6cYr3S4XQHg44A" target="_blank" class="contact-text">
              1776 East Joppa Road<br>
              Parkville, MD 21234
            </a>
          </div>
          <div class="contact-item">
            <lucide-icon name="phone" class="icon"></lucide-icon>
            <a href="tel:+14106687587" class="contact-text">(410) 668-7587</a>
          </div>
          <div class="contact-item">
            <lucide-icon name="mail" class="icon"></lucide-icon>
            <a href="mailto:woodhome.preschool@gmail.com" class="contact-text">woodhome.preschool&#64;gmail.com</a>
          </div>
        </div>
      </div>
    </div>
    <div class="footer-bottom">
      <p>&copy; {{ currentYear }} Woodhome Preschool Center. All rights reserved.</p>
    </div>
  </div>
</footer>